
<div style="border: 1px solid black; padding: 6px;">
    <h2>Cities List:</h2>
    @if (loading) {
        <div>Loading...</div>
    }
    @if (error) {
        <div>Error </div>
      }
    @if (cities) {
        @for (city of cities; track $index) {
          <p>{{ city.name }}</p>
        }
    }
</div>

<div style="border: 1px solid black; padding: 6px; margin-top: 12px;">
    <h2>City Details</h2>
    <ng-container *ngIf="queryCityWeather$ | async as city">
        <p>city.temperature</p>
        <p>city.wind</p>
    </ng-container>
</div>